<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<Section Name="AzureAD">
		<Parameter Name="Instance" Value="https://login.microsoftonline.com/"/>
		<Parameter Name="Domain" Value="innovian.net"/>
		<Parameter Name="TenantId" Value="4129f61a-2f50-4f30-9676-043fa04064be"/>
		<Parameter Name="ClientId" Value="a29b45fd-d9ad-425b-b06e-9487e6f9b725"/>
		<Parameter Name="CallbackPath" Value="/signin-oidc"/>
	</Section>
</Settings>